<div class="topo">
    <app-menu class="menu-main"></app-menu>
    <app-fundo class="fundo"></app-fundo>
</div>
<br>
<div class="corpo">
    <app-card 
        class="card"
        id="1"
        titulo="Mexendo Com Angular"
        image="https://i.pinimg.com/564x/9d/b2/78/9db278d630f5fabd8e7ba16c2e329a3a.jpg"></app-card>
    <app-card 
        class="card"
        id="2"
        titulo="Card Dinamicos"
        image="https://i.pinimg.com/564x/e2/b6/d2/e2b6d2da9207ae08ac0ced007ebb5f61.jpg"></app-card>
    <app-card 
        class="card"
        id="3"
        titulo="Capivara"
        image="https://i.pinimg.com/564x/58/e3/3f/58e33f3c67157bfd1ed3a15b53402e78.jpg"></app-card>
    <app-card 
        class="card"
        id="4"
        titulo="Pão com Ovo"
        image="https://i.pinimg.com/564x/92/09/65/9209654ba4eecb240944ae2571e3e9db.jpg"></app-card>
    <app-card 
        class="card"
        id="5"
        titulo="Sapinho"
        image="https://i.pinimg.com/736x/cf/13/0b/cf130b7d1e9dfff4dbaf4f9ee40a9c6d.jpg"></app-card>
    
</div>
